@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main{
    /* background-color: #EFEAE3; */
    position: relative;
    z-index: 10;
}
#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

#nav {
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    position: relative;
    font-size: 18px;
    overflow: hidden;
    transition: all ease 0.4s;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0%;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#nav h3{
    display: none;
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
    top: 10% ;
}

#hero-2 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #feb50af0);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-3 {
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #feb50af0);
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 20%);
    }

}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#movingtext {
    white-space: nowrap;
    overflow-x: auto;
}

#movingtext::-webkit-scrollbar {
    display: none;

}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: move 9s linear infinite;
}

#movingtext h1 {
    font-size: 9vw;
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottompart-2 {
    width: 20%;
}

#bottompart-2 img {
    width: 100%;
    border-radius: 15px;
}

#bottompart-2 p {
    font-weight: 200;
    margin-top: 2VW;
    font-size: 1vw;

}

#page2 #gooey {
    height: 62vw;
    width: 62vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #f85503);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes gooey {
    from{
        transform: translate(10%,-10%) skew(0);
    }to{
        filter: blur(30px);
        transform: translate(-10%,10%) skew(-10deg);
    }
    
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

 .elem{
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
 }

 .elem h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
 }

 .overlays{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
 }

 .elem:hover .overlays{
    top: 0;
 }

 #fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}


.header {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 3vw;
    display: flex;
    background-color: #EFEAE3;
}

.header .red-dot {
    background-color: #FE320A;
    border-radius: 100vw;
    width: 0.5em;
    height: 0.5em;
}

.heading{
    letter-spacing: .02em;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.2;
}

#page4{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

#page5{
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer{
    position: fixed;
    z-index: 9;
    bottom: 0;
    height: 140vh;
    width: 100%;
    background-color:#FE320A;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   /* ; padding: 0vw 0vw */
}


#footer h1{
    font-size: 23vw;
    z-index: 9;
}


.container {
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5.625em;
    padding-right: 5.625em;
    display: flex;
}

.footer_content {
    z-index: 3; 
     flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-top: 11.25em;
    display: flex;
    position: relative;
}


.footer_menu_wrap {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    flex-direction: column;
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    line-height: 1.5vw;
}
#footer-div{
    height: 800vh;
    width: 100%;
}


#hero-a {
    height: 60vw;
    width: 100%;
    background: black;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    top: 50%;
}

#hero-b {
    height: 30vw;
    width: 100%;
    background: black;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    top: 50%;
}

@keyframes anime1 {
    from {
        transform: translate(25%, 3%);
    }

    to {
        transform: translate(30%, 5%);
    }

}

@keyframes anime2 {
    from {
        transform: translate(-30%, 30%);
    }

    to {
        transform: translate(-20%, -2%);
    }
}

#footer-bottom{
    border-top: 1px solid #dadada;
    height: 100vh;
    width: 100%;
    background-color: #000;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    border-left: 1px solid rgba(0, 0, 0, .2);
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-left: 1.5em;
    display: flex;
  }
  
  .swiper-slide img{
    /* object-fit: cover; */
    width: 10em;
    height: 10vh;
    display: inline-block;
    position: relative;

  }
  .swiper-slide p{
    color: black;
    /* margin-bottom: 10%; */
    font-family: neu;
    font-size: 1vw;
    font-weight: 200;
    line-height: 1.2;
  }

  #full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
  }

  #full-scr #full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
  }

  @media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        position: relative;
        padding: 0 0vw;
    }
    
    #nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
      
    }

    #nav img{
        transition: all ea 0.2s;
        height: 9vh;
    }
    
    #nav-part2 {
        
        display: none;    
    }
   
    #nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        padding: 8vw 5vw;
        position: relative;
        z-index: 9;
    }
    
    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 7vw;
    }
    
    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 14vw;
    }
    
    #page1 video {
        width: 92%;
        margin-left:4%;
        border-radius: 15px;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        margin-top: 4vw;
        position: relative;
    }
    
    #hero-shape {
        position: absolute;
        width: 82vw;
        height: 76vw;
        right: 0;
        top: 65vh;
    }
    

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }
    
    #movingtext {
        white-space: nowrap;
        overflow-x: auto;
    }
    
    #movingtext::-webkit-scrollbar {
        display: none;
    
    }
    
    .con {
        white-space: nowrap;
        display: inline-block;
        animation: move 9s linear infinite;
    }
    
    #movingtext h1 {
        font-size: 14vw;
        display: inline-block;
    }
    
    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #FE320A;
        display: inline-block;
        margin: 2vw 2vw;
    }
    
    #page2-bottom {
        height: 90vh;
        width: 100%;
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }
    
    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }
    
    #bottompart-2 {
        width: 70%;
    }
    
    #bottompart-2 img {
        width: 100%;
        border-radius: 10px;
    }
    
    #bottompart-2 p {
        font-weight: 200;
        margin-top: 2VW;
        font-size: 3vw;
    
    }
    
    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #f85503);
        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

  }

  #loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000;
    transition: all ease 0.7s;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#loader h1{
    color: transparent;
    font-size: 4vw;
    background: linear-gradient(to right, orange,orangered);
    -webkit-background-clip:text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}

#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
opacity: 0;
    }
    
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}
